$cyber-yellow: #ffde17;
$forest-green: #0c2428;
$dark-turquoise: #00CED1;
$black: #000000;
$white: #ffffff;

.collection-page{
    a.back-btn{
        position:fixed;
        z-index: 1;
        margin-left:-120px;
        color: $cyber-yellow;
        &:hover{
            color:$dark-turquoise
        }
    .small-link{
        text-decoration: none;
        position: absolute;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-size: 15px;
        top:10px;
        left:30px;
    }
}
.page-header{
    h1.header__title-case{
        font-weight: 300;
        font-size: 3.0rem;
        line-height: 3.5rem;
        padding-left: 13rem;
        
@media (max-width: 480px) {
            padding-left:0;
        }
    }
}
}