$cyber-yellow: #ffde17;
$forest-green: #0c2428;
$dark-turquoise: #00CED1;
$black: #000000;
$white: #ffffff;

.hero-container {

    .hero {
        position: relative;
        height: 55vh;
        margin-top: 15vh;
        text-align: right;
        @media (max-width: 768px) {
            margin-top: 5vh;
        }
        .hero-text {
            width: 100%;
            z-index: 1;
            text-align: right;
            line-height: 1;
            font-weight: 700;
            font-size: 4vw;
            padding-left: 20%;
            @media (max-width: 768px) {
                font-size: 5vh;
            }
            @media (max-width: 767px) {
                padding-left: 2%;
            }
            @media (max-height: 992px) and (max-width: 425px)
{
    padding-left: 15px;
    font-size: 6.25vh;
}
        }
        .italics{
            font-family: "Times";
            font-weight: bold;
            font-style: italic;
        }
        .learn__more__button{
            margin-top: 60px;
            margin-bottom: 60px;
        }
        .ao-yellow{
            color:$cyber-yellow;
        }
        
    }

    .solution-container {
        position: fixed;
        top: 48%;
        z-index: 1;
        left: 0px;
    
        .solutions{
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            margin-left: -120px;
            font-size: 15px;

            @media (min-width: 992px){
    margin-left: -90px;
}
@media (max-width: 768px) {
    margin-left: -165px;
}
@media (max-width: 480px) {
    margin-left: -175px;
    color: #909090;
}

.tiny-box{
    width:6px;
    height:6px;
    margin-left:15px;
    top:5px;
    margin-right:2px;
    background-color: $cyber-yellow;
    display: inline-block;
    outline: none;
    border: none;
}
        }
    }
}