$cyber-yellow: #ffde17;
$forest-green: #0c2428;
$dark-turquoise: #00CED1;
$black: #000000;
$white: #ffffff;

.footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $forest-green;
    color:$white;

    .wrapper {

        @media (max-width: 768px) {
           margin: 20vh auto;
        }

    .blocks{
        margin:35px 0;
        display: flex;
        @media (max-width: 767px) {
            display: inline-block;
         }

        .block__4{
            width: 31.333%;
            margin-left: 2%;
            &.first{
                margin-left: 0;
            }
            display: inline-block;
            @media (max-width: 768px) {
                width: 100%;
            }
            .contact__arrow{
                width:30px;
            }
        }

        .block__6{
            width: 48%;
            margin-left: 2%;
            float: left;
            &.push__right{
                @media (max-width: 767px) {
                    margin-bottom: 10px;
                }
            }
            &.first{
                margin-left: 0;
            }

            @media (max-width: 767px) {
                width: 100%;
                margin-left: 0;
                display: inline;
            }
            .contact__arrow{
                width:30px;
            }
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .block-text {
            &.dream {
                text-align: right;
                display: grid;
                width: 100%;
            }
        }
    }
    }
}